<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!--配置activemq的连接工厂 通过属性赋值的方式创建 activeMQConnectionFactory对象-->
    <bean id="activeMQConnectionFactory"  class="org.apache.activemq.ActiveMQConnectionFactory">
      <property name="brokerURL" value="tcp://192.168.25.128:61616"></property>
    </bean>
    
    <!--配置spring整合 ActiveMQConnectionFactory的包装类 -->
    <bean id="singleConnectionFactory"  class="org.springframework.jms.connection.SingleConnectionFactory">
      <property name="targetConnectionFactory" ref="activeMQConnectionFactory"></property>
    </bean>
    
    
    <!--spring为了操作jms专门封装了一个模板类 JmsTemplate  -->
    
    <bean id="JmsTemplate" class="org.springframework.jms.core.JmsTemplate">
      <property name="connectionFactory" ref="singleConnectionFactory"></property>     
    </bean>
    
    <!--创建消息队列的类型点对点  -->
    <bean id="activeMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
      <constructor-arg value="legou-activeMQQueue"></constructor-arg>
    </bean>
    
    <!-- 配置点对点类型的队列 -->  
    <bean id="activeMQTopic" class="org.apache.activemq.command.ActiveMQTopic">
      <constructor-arg value="legou-activeMQTopic"></constructor-arg>
    </bean>
    
    
    <bean id="legouActiveMQListene" class="com.legou.search.mq.LegouActiveMQListener"></bean>
    
    <!--监听器配置  -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
      <property name="connectionFactory" ref="singleConnectionFactory"></property>
      <property name="destination" ref="activeMQTopic"></property>
      <property name="messageListener" ref="legouActiveMQListene"></property>
    </bean>
    
    
    
	
</beans>